{% extends 'base.html' %}
{% block content %}

   
        <form action="{% url 'search' %}" method="post" class="form-inline mb-5 mt-2">
           {% csrf_token %}
            <div class="form-group">
                <input type="text" name="userText" class="form-control" placeholder="Type any recipe ..." style="display:inline-block; width: 30%;">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>
        {% for recipe in recipes%}
        <div class="col-lg-3 col-sm-12 mb-3">
            <div class="card" style="width:15rem; margin:0 auto">
                <img class="card-img-top" src="{{recipe.recipe.image}}" />
                <div class="card-body">
                    <h5 class="card-title">{{recipe.recipe.label}}</h5>
                    <p class="card-content">{{recipe.recipe.source}}</p>
                    <details>
                        <summary>details</summary>
                        <p style="margin-top-10px">Calorie: {{recipe.recipe.calories}} kcal</p>
                        <p><b>Ingredients:</b></p>
                        <p>{{recipe.recipe.ingredientLines}}</p>
                    </details>
                </div>
            </div>
        </div>
        {% endfor %}
 
    {% endblock %}